@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

html,
body {
  height: 100%;
  background-color: beige;
}
.question {
  margin: 2% auto;
  padding: 30px;
  width: 50%;
  position: center;
  border: 2px solid black;
}

input[type="range"] {
  width: 400px;
}
